---
# keep our own information
pig:
  version: "0.0.1"

# all environments that need to be supported should be defined here.  Note "definitions". These are variables# that are
# dropped in at runtime and their value taken from the definitions associated with the runtime value of process.env.NODE_ENV
environments:
  development: &development_environment
    description: "development environment"
    debug: &development_debug true
    definitions:
      mongo_connection_string: &development_mongo_connection_string "mongodb://localhost:27017"
    log: &development_log
      level: debug
      transports:
        - type: console
        - type: file
          filename: development.log
  staging: &staging_environment
    description: "staging environment"
    debug: &staging_debug false
    definitions:
      mongo_connection_string: &staging_mongo_connection_string "mongodb://staging:27017"
    log: &production_log
      level: info
      transports:
        - type: http
        - type: file
          filename: staging.log
  production: &production_environment
    description: "production environment"
    debug: &production_debug false
    definitions:
      mongo_connection_string: &production_mongo_connection_string "mongodb://production:27017"
    log: &production_log
      level: info
      transports:
        - type: http
        - type: file
          filename: production.log

# current environment
environment:
  <<: *{{nodenv}}_environment
  variables:
    NODE_ENV: {{nodenv}}
    DEBUG: *{{nodenv}}_debug
    VERBOSE: *{{nodenv}}_debug

log:
  <<: *{{nodenv}}_log

# we only want to maintain a single instance of these guys.  But we understand that there will be env differences.
# this is where we rely on the dictionary and that environment differences will be resolved once this guy is parsed.
services:
  - id: urn:db:petstore
    name: petstore database
    class: database
    # technically what we are calling "type" here this is a brand. But the brand is synonymous with type so we don't nitpick
    type: mongo
    database:
      name: petstore
      connectionString: *{{nodenv}}_mongo_connection_string
      poolSize: 1
    collections:
      - id: urn:db:col:pet
        name: "pet"
        description: "collection of pet documents"
        indices:
          - name: test
            spec:
              - name: 1
  - id: urn:svc:http:sample
    name: sample http service
    class: service
    type: http
    request:
      method: GET
      uri: "https://www.sparkfun.com/products/{{params.orderId}}"
  - id: urn:svc:tfm:data
    name: data transformations
    class: service
    type: transform
